.DS_Store
._.DS_Store
.vs
.vscode

__pycache__/

Debug/
Release/
x64/
*.o
*.obj

a.out
blastn
result.txt
callgrind.out.*
.directory

*.fa.json
*.fasta.json
packing_table.json
unpacking_table.json
blastn_out.txt

vivado.jou
vivado.log
*.str
.Xil/